---
layout: default
title: Homepage of Oindrila Ghosh
---

<!-- ========== NEWS ========== -->
<div class="docs-section" id="news">
  <h5>News</h5>
<ul>
  <li><b>January 2025:</b> I presented my paper on Time Scale of Integration in Equilibrium Passive Sampling at the BATTELLE Sediments Conference 2025 <a href="https://www.xcdsystem.com/battelle/program/L2rF1nX/index.cfm?pgid=2053&RunRemoveSessionFilter=1"> Session B9. Advances in Passive Sampling Methods and Case Studies.</a> My other paper on Equilibrium Passive Sampling Demonstration for Short-Term Surface Water Measurements of PCBs was also presented in the same session by my PhD advisor Dr. Upal Ghosh.</li> 
  <li><b>December 2024:</b> I graduated from UMBC and started my position as a Postdoctoral Associate at the University of Pittsburgh. 
  <li><b>August 2024:</b> I successfully defended my PhD Dissertation on 9 August 2024.
</div>


<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h5>Bio</h5>
  <p>
    I am currently working as a Postdoctoral Associate at the University of Pittsburgh, advised by <a href="https://www.engineering.pitt.edu/people/faculty/carla-ng/">Dr. Carla Ng Baumel</a>. I have prior experience in developing passive sampling methods to measure bioavailability of persistent and emerging pollutants, mathematical modeling of mass transfer kinetics in surface water and sediment porewater. In my current role I explore: (a) fate and transport pathways of persistent and emerging pollutants in the environment, (b) quantification of the subsequent ecological/human exposures and (c) characterization and analytical method development to identify and accurately quantify pollutant concentrations. 
  </p>
  <p>
    I received my PhD in Environmental Engineering at the University of Maryland, Baltimore County. I was advised by <a href="https://cbee.umbc.edu/upal-ghosh/">Dr. Upal Ghosh</a>. My PhD dissertation was titled <a href="http://proxy-bc.researchport.umd.edu/login?url=https://www.proquest.com/dissertations-theses/development-optimization-passive-sampling-methods/docview/3147379320/se-2?accountid=14577">Development and Optimization of Passive Sampling Methods for Surface Water and Porewater Measurements of Freely Dissolved Concentrations of Hydrophobic Organic Contaminants</a>. It was focused on understanding the fundamental mechanisms of pollutant mobility through the environment and developing Passive Sampling methods for accurately measuring pollutant bioavailability using a combination of mathematical modeling, field sampling and laboratory experiments.
  </p>
  <p>
    Prior to this, I completed my Masters in Environmental Sciences from Nalanda University and my Undergraduate in Chemistry (Honors) from the University of Delhi, both in India. 
  </p>
  <p>
    My hobbies include creating illustrations, painting, crafting, clay-sculpting, crocheting <a href="https://www.instagram.com/oindrilas_art_studio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="> (Link) </a>, writing <a href="https://www.twoontrail.com">(Link)</a> and making video blogs about my life and artistic endeavors <a href="https://www.youtube.com/@Oindrila_Ghosh"> (Link)</a>. 
  </p>

</div>


<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h5>Publications</h5>

  <p>Complete list on <a href="https://scholar.google.com/citations?hl=en&user=hhwQHy8AAAAJ" target="_blank">Google Scholar</a>.</p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-JP">Journal Papers</div></li>
    <li><div class="button inactive" data-ref="#papers-Reports">Reports</div></li>
    <li><div class="button inactive" data-ref="#papers-Articles">Articles</div></li>
  </ul>

  <div class="tab-content">

    <!-- Journal Papers -->
    <div class="tab-pane active" id="papers-JP">
      {% assign JP_papers = site.data.publications.papers | where: "JP", "y" %}
      {% for paper in JP_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper %}
              <a class="button" href="{{ paper.paper }}" target="_blank">Paper</a>
            {% endif %}
            {% if paper.webpage %}
              <a class="button" href="{{ paper.webpage }}" target="_blank">Webpage</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i>
            {% if paper.mod%}
            <span style="color:red;"><b>({{ paper.modifier }})</b></span>
          {% endif %} </p>
          {% if paper.equal%}
            <p><i>*equal contribution</i></p>
          {% endif %}
           <div class="paper-buttons">
          </div>
        </div>
      {% endfor %}
    </div>
    
    <!-- Reports -->
    <div class="tab-pane inactive" id="papers-Reports">
      {% assign Reports_papers = site.data.publications.papers | where: "Reports", "y" %}
      {% for paper in Reports_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b>
            {% if paper.paper %}
              <a class="button" href="{{ paper.paper }}" target="_blank">Report</a>
            {% endif %}
            {% if paper.webpage %}
              <a class="button" href="{{ paper.webpage }}" target="_blank">Webpage</a>
            {% endif %}
            {% if paper.slides %}
              <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
            {% endif %}
            {% if paper.poster %}
              <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
            {% endif %}
            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}
            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i>
            {% if paper.mod%}
            <span style="color:red;"><b>({{ paper.modifier }})</b></span>
          {% endif %} </p>
          {% if paper.equal%}
            <p><i>*equal contribution</i></p>
          {% endif %}
           <div class="paper-buttons">
          </div>
        </div>
      {% endfor %}
    </div>    
<!-- Articles -->
<div class="tab-pane inactive" id="papers-Articles">
  {% assign Articles_papers = site.data.publications.papers | where: "Articles", "y" %}
  {% for paper in Articles_papers %}
    <div class="paper">
      <p class="title"><b>{{ paper.title }}</b>
        {% if paper.paper %}
          <a class="button" href="{{ paper.paper }}" target="_blank">Article</a>
        {% endif %}
        {% if paper.webpage %}
          <a class="button" href="{{ paper.webpage }}" target="_blank">Webpage</a>
        {% endif %}
        {% if paper.slides %}
          <a class="button" href="{{ paper.slides }}" target="_blank">Slides</a>
        {% endif %}
        {% if paper.poster %}
          <a class="button" href="{{ paper.poster }}" target="_blank">Poster</a>
        {% endif %}
        {% if paper.video %}
          <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
        {% endif %}
        {% if paper.code %}
          <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
        {% endif %}
      </p>
      <p>{{ paper.authors }}</p>
      <p><i>{{ paper.venue }}</i>
        {% if paper.mod%}
        <span style="color:red;"><b>({{ paper.modifier }})</b></span>
      {% endif %} </p>
      {% if paper.equal%}
        <p><i>*equal contribution</i></p>
      {% endif %}
       <div class="paper-buttons">
      </div>
    </div>
  {% endfor %}
</div>    

<!-- ========== RESUME ========== -->
<div class="docs-section" id="timeline">
  <h5>Timeline</h5>

  <!-- The Timeline -->
  <ul class="timeline">
    {% for exp in site.data.experience.experiences %}
    <li>
      {% if exp.direction == "left" %}
      <div class="direction-l">
      {% else %}
      <div class="direction-r">
      {% endif %}
        <div class="flag-wrapper">
          <span class="flag">{{ exp.place }}</span>
          <span class="time-wrapper"><span class="time">{{ exp.time }}</span></span>
        </div>
        <div class="desc"><b>{{ exp.title }}</b> <br/> {{ exp.subtitle }} <br/> {{ exp.mentors }}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<!-- ========== TALKS ========== -->
<div class="docs-section" id="talks">
  <h5>Talks</h5> 
  <h6><b>TOPIC: Optimization of Passive Sampling Methods for Surface Water and Porewater Measurements. </b></h6>
  <ul>
    <p> 
      <b> Nov 2023: </b> SETAC North America 44rd Annual Meeting, Louisville, KY. <a href="assets\slides\SETAC 2023 Poster KY.pdf"> (Poster) </a><br>
      <b> Jan 2023: </b> BATTELLE's Eleventh International Sediments Conference, Austin, TX. <a href="assets\slides\BATTELLE 2023 Poster TX.pdf"> (Poster) </a>&#11088;<br>
      <b> Nov 2022: </b> SETAC North America 43rd Annual Meeting, Pittsburg, PA. <a href="assets\slides\SETAC 2022 Poster PA.pdf"> (Poster) </a><br>
      <b> Nov 2021: </b> SETAC North America 42nd Annual Meeting. (Virtual Platform) <a href="assets/slides/SETAC 2021 Virtual SW-PW.pdf"> (Slides) </a><br>
    </p> 
    <p> 
      &#11088;<i> Winner of the Student Paper Competition <a href="https://cbee.umbc.edu/news/post/130201/"> (Highlight) </a> </i>
    </p>
    </ul>
    <h6><b>TOPIC: Time-Integration in Equilibrium Passive Samplers: A Mathematical Modeling Approach </b></h6>
    <ul>
      <p> 
        <b> Jan 2025: </b> BATTELLE's International Sediments Conference, Tampa, FL  <a href="assets/slides/BATTELLE 2025 FL.pdf"> (Slides) </a> <br>
        <b> Sept 2022: </b>International Passive Sampling Workshop (IPSW), Utrecht, Netherlands. (Virtual Platform) <a href="assets\slides\IPSW 2022 ppt NL.pdf"> (Slides) </a><br>
        <b> Nov 2021: </b> SETAC North America 42nd Annual Meeting. (Virtual Platform) <a href="assets/slides/SETAC 2021 Virtual Model.pdf"> (Slides) </a><br>
        <b> Nov 2020: </b> SETAC North America 41st Annual Meeting. (Virtual Platform)  <a href="assets/slides/SETAC 2020 Virtual.pdf"> (Slides) </a><br>
        <b> Sept 2020: </b> SETAC Chesapeake Potomac Regional Chapter Annual Fall Meeting.(Virtual Platform)  <a href="assets/slides/CPRC SETAC 2020 Virtual.pdf"> (Slides) </a>&#11088;<br>
      </p> 
      <p> &#11088;<i> Winner of 3rd place Best Student Platform Presentation </i>
      </p>
      <h6><b>TOPIC: Non-Equilibrium Correction Methods used in Equilibrium Passive Sampling </b></h6>
      <p> 
          <b> Sept 2019: </b> International Passive Sampling Workshop (IPSW), Boston, MA.  <a href="assets/slides/IPSW 2019 MA.pdf"> (Slides) </a><br>
          <b> Apr 2019: </b> SETAC Chesapeake Potomac Regional Chapter Annual Spring Meeting, Fredericksburg, VA. <a href="assets/slides/CPRC SETAC 2019 VA.pdf"> (Slides) </a><br>
      </p> 
      <h6><b>TOPIC: Hydrochemical Connectivity of the Allende-Piedras Negras Transboundary Aquifer. </b></h6>
      <p> 
          <b> July 2018: </b> AWRA Summer Specialty Conference on the Science, Management, and Governance of Transboundary Groundwater, Fort Worth, TX  <a href="assets/slides/AWRA 2018 TX.pdf"> (Slides) </a><br>
      </p> 
  </ul>
</div>


<!-- ========== SERVICE & LEADERSHIP ========== -->
<div class="docs-section" id="service_leadership">
  <h5>Service & Leadership</h5>
  <p> 
    <b> 2021-2024: </b> Outreach blog chair of <a href="https://studentsofsetacoutreach.wordpress.com/"> North America Student Advisory Council (NASAC)</a>, Society of Environmental Toxicology and Chemistry (SETAC).<br>
    <b> 2020,2021: </b> Communication of Ghosh lab overview to incoming graduate students at the UMBC open house. <a href="assets\slides\OG_Ghosh Lab Overview_Mar2021_.pdf"> (Slides) </a><br>
    <b> 2019-2020: </b> Social Chair of Graduate Student Organization of Chemical, Biochemical and Environmental Engineering (CBEE) Department, UMBC.<br>
    <b> 2017-2018: </b> Member of editorial board for The Drop Newsletter, Water Management and Hydrological Sciences (WMHS), Texas A&M University.<br>
  </p> 
</div>

<!-- ========== TECHNICAL SKILLS ========== -->
<!-- <div class="docs-section" id="technical_skills">
  <h5>Technical Skills</h5>
  <p>
    <b> Laboratory: </b><br>
        <li> PFAS extraction and analysis: EPA Method 1633</li>
        <li> PCB extraction and analysis: EPA Method SW-846</li>
        <li> Method development on GCMS/LCMS for chemical identification and quantification of semi volatile and volatile organic compounds (VOC/SVOC)/ per-fluoroalkyl substances (PFAS).</li>
        <li> PFAS functionalized material synthesis using Agarose hydrogel, Cellulose Acetate and PDMS base polymers embedded with Activated Carbon, Human Serum Albumin, and OASIS-Wax as part of passive sampler development.</li> 
    <b> Equipment: </b><br> 
        <li>LC-MS (Shimadzu 8050)</li>
        <li>GC-MS (Agilent 7890B GC with Agilent 5977B MS), </li>
        <li>GC-ECD (Agilent 6890N), </li>
        <li>Horiba LabRAM Soleil Raman Microscope. Micro-Raman system capable of Raman imaging and spectroscopy.</li>
        <li>UV-Vis Spectrometer, </li>
    <li><b> Geospatial Mapping:</b> ArcGIS</li>
    <li><b> Programming:</b> MATLAB</li>
    <li><b> Statistical Analysis:</b> R</li>
    <li><b> Design:</b> Adobe Lightroom, InDesign, Premiere Pro</li>
  </p> -->

</div>


<div class="docs-section" id="ack">
<h5>Acknowledgement</h5>
<p>
  This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>.
</p>
</div>


<!-- ========== BLOG ========== -->
<!-- <div class="docs-section" id="blog">
  <h4>Blog</h4>


  <div class="posts">
    {% for post in site.posts limit:20 %}
      <article class="post">

        <h5 class="post-title-above-tags">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | markdownify }}</a>
        </h5>


        <div class="entry">
          {{ post.excerpt | rstrip | append: ' ...' | markdownify }}
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endfor %} -->